@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.film-page {
  display: flex;
}

.left-column {
  display: flex;
  flex-direction: column;
}

.left-column img {
  border-radius: 10px;
  height: 380px;
}

.left-column ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-column li {
  margin: 20px 0 0 0;
}

.left-column-buttons, .review-button {
  padding: 8px 20px;
  color: white;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  transition: .5s;
}

.trailer {
  background-color: #DD003F;
}

.trailer:hover {
  background-color: #c30138;
}

.hulu {
  background-color: #5C9730;
}

.hulu:hover {
  background-color: #4d7c28;
}

.prime {
  background-color: #02A8E1;
}

.prime:hover {
  background-color: #0190c0;
}

a:hover {
  color: white;
}

.movie-meta-data {
  display: flex;
}

.score-section p {
  display: inline-block;
}

.summary {
  padding-bottom: 30px;
  border-bottom: 2px solid lightgray;
}

.summary p {
  margin-bottom: 0;
}

.review-form-title {
  display: flex;
  justify-content: space-between;
}

.text-box {
  border-radius: 10px;
  border: 2px solid grey;
}


.review-button {
  width: 150px;
  box-sizing: border-box;
}

.submit, .submit:focus {
  background-color: mediumspringgreen;
}

.submit:hover {
  background-color: rgb(0, 202, 125);
}

.clear-button, .clear-button:focus {
  background-color: lightgray;
}

.clear-button:hover {
  background-color: rgb(182, 182, 182);
}
